.divisor {
	position: relative;
	margin: 15px 0;
	text-align: center;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr auto 1fr;
	grid-gap: 20px;
}

.divisor:after,
.divisor:before {
	content: " ";
	display: block;
	border-bottom: 1px solid #ccc;
}
