.body {
	padding: 30px 0;
}

.body > .posts > h2 {
	font-size: 2.5rem;
	font-weight: 900;
	margin-top: 0;
	margin-bottom: 30px;
}

.posts {
	margin: 0 20px;
}

.categoryFilter {
	overflow-x: scroll;
	display: flex;
	align-items: center;
	margin-bottom: 50px;
	box-shadow: 8px 8px 20px -2px rgba(0, 0, 0, 0.21);
}

.filter {
	padding: 10px 30px;
	text-align: center;
	margin: 0 10px;
	cursor: pointer;
}

.filterImg {
	width: 25px;
	height: 25px;
}

.post {
	margin-bottom: 50px;
}

.post > a {
	text-decoration: none;
}

.post_title {
	font-size: 2rem;
	font-weight: 800;
	margin-bottom: 10px;
	color: #333;
}

.monetization_info {
	background-color: #efefef;
	padding: 30px 40px;
}

.monetization_info > h2 {
	margin: 0 0 10px;
}

.monetization_steps {
	margin: 30px 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

@media only screen and (min-width: 767px) {
	.categoryFilter {
		overflow-x: auto;
		width: fit-content;
	}

	.filter {
		margin: 0 20px;
	}

	.posts {
		margin: 0 240px;
	}
}
