.hero {
	width: 100%;
	background-color: #ffe8d1ff;
	padding: 86px 0 50px;
}

.container {
	display: flex;
	flex-flow: row wrap;
	margin: 0 20px;
}

.hero_image {
	width: 100%;
	height: auto;
	display: block;
}

.hero_subtitle {
	margin-bottom: 30px;
	max-width: 410px;
}

.hero_link {
	font-size: 16px;
}

@media only screen and (min-width: 767px) {
	.hero {
		padding: 100px 0;
	}

	.container {
		justify-content: space-between;
		margin: 0 240px;
	}

	.hero_picture {
		order: 2;
	}

	.hero_image {
		max-width: 780px;
		min-width: 540px;
	}

	.hero_content {
		max-width: 540px;
	}
}
