.header {
	text-align: center;
	max-width: 590px;
	margin: 0 auto 35px;
}

.category_filter {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

.category_labels {
	width: 100%;
	order: 3;
	margin-top: 25px;
	border-top: 1px solid #efefef;
}

.category_searchbar {
	order: 2;
}

.posts {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(6, 340px);
	grid-gap: 20px;
}

@media only screen and (min-width: 767px) {
	.header {
		border-bottom: 1px solid #efefef;
		padding-bottom: 20px;
	}

	.category_labels {
		width: auto;
		order: 2;
		margin-top: 0;
		border-top: none;
		max-width: 480px;
	}

	.category_searchbar {
		order: 3;
	}

	.posts {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(auto-fill, 280px);
		column-gap: 150px;
		row-gap: 100px;
	}
}
