.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
	padding: 0;
	background-color: white;
	box-shadow: 0 0 5px rgba(69, 75, 95, 0.5);
	z-index: 50;
}

.header_content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0 15px;
}

.header_content > nav {
	display: flex;
	align-items: center;
}

.header_content > a {
	text-decoration: none;
}

.header_content h1 {
	margin: 0;
	font-size: 24px;
	font-weight: 400;
	color: rgb(69, 75, 95);
}

.header_link {
	font-size: 1.2rem;
	text-decoration: none;
	color: rgb(69, 75, 95);
}

.header_link:hover {
	color: rgb(11, 11, 12);
}

.header nav > * {
	font-size: 16px;
	margin: 0 5px;
}

@media only screen and (min-width: 767px) {
	.header_content {
		max-width: 1560px;
		margin: 0 auto;
		padding: 0 100px;
	}

	.header nav > * {
		font-size: 18px;
		margin: 0 10px;
	}
}
