.footer {
	background-color: #fafafa;
	position: relative;
	overflow: hidden;
}

.footer_content {
	margin: 0 20px;
	padding: 30px 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

.footer_column {
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 30px;
}

.footer_column > * {
	margin: 5px 10px;
	font-size: 1.1rem;
	font-weight: 300;
}

.footer_column > a {
	text-decoration: none;
	color: rgb(69, 75, 95);
}

.author {
	font-size: 0.9rem;
}

.author > a {
	font-size: 0.9rem;
	text-decoration: none;
	color: rgb(69, 75, 95);
}

@media only screen and (min-width: 767px) {
	.footer_content {
		padding: 60px 0;
		flex-flow: column wrap;
		align-items: center;
	}
}
